@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-main: #0f1c24;
  --color-side: #1c2d35;
  --color-gray: #8097a1;
  --color-hover-50: rgba(46, 73, 86, 0.8);
  --color-hover-100: #2e4956;
  --color-green-50: rgb(0 255 115 / 0.5);
  --color-green-100: #03aa82;
}

@layer components {
  .main_container {
    @apply /* h-screen */
    min-h-screen lg:flex lg:flex-row bg-main;
  }

  .header {
    @apply fixed top-0 left-0 w-full h-28 z-10 bg-main text-white 
    flex flex-col items-stretch justify-between gap-2 p-4 
    /* border-b border-hover-100  */
    md:h-20;
  }

  .header_container {
    @apply flex items-center justify-between w-full md:gap-2;
  }

  .header_actions {
    @apply flex items-center gap-4;
  }

  .searchbar {
    @apply w-full flex-1 bg-hover-100 text-white rounded-3xl py-1.5 px-4
    flex justify-start gap-2;
  }

  .bottombar {
    @apply fixed bottom-0 left-0 w-full h-20 z-10 bg-white text-black flex
    lg:hidden lg:w-fit lg:h-full;
  }

  .bottombar_container {
    @apply flex items-center justify-between w-full p-4 bg-main
    /* border-t border-hover-100  */
    lg:flex-col;
  }

  .leftbar {
    @apply hidden lg:block lg:fixed lg:w-fit lg:h-full lg:pt-20;
  }

  .leftbar_container {
    @apply flex items-center justify-start gap-2 w-full p-4 bg-side
    border-e border-gray-500
    lg:flex-col lg:h-full;
  }

  .chats {
    @apply flex flex-1 flex-col items-stretch justify-start w-full gap-4
    min-h-0
    overflow-y-auto
    pt-28 pb-20
    md:pt-20 md:pb-0
    lg:ps-26 lg:pt-20;
  }

  .chat {
    @apply flex items-center bg-main gap-4 p-2 hover:bg-hover-50;
  }
}
